// Identidad de colores de Oliv (Actualizado según el Figma)
$primary: #fcdcb4;   // Salmón / Durazno suave (color principal)
$accent: #881337;    // Granate (acento para destacar detalles)
$body-bg: #ffffff;   // Blanco puro (Fondo)
$body-color: #1e293b; // Gris oscuro para los textos
//gris clarito para algunos titulos
.text-gris-claro {
    color: lighten($body-color, 30%) !important;
}

// tipografías fuentes de Figma
$font-family-sans-serif: 'Inter', sans-serif; 
$font-family-base: 'Inter', sans-serif;

// Regla para que los títulos usen Lexend o Reem Kufi
h1, h2, h3, h4, .display-5, .navbar-brand {
    font-family: 'Lexend', 'Reem Kufi', sans-serif !important;
    font-weight: 700;
}

// 3. Ruta oficial apuntando a los archivos fuentes originales
@import "../bootstrap/scss/bootstrap";