// 1. Declaramos las variables con los colores de Oliv
$primary: #fcdbb2;       // color salmón principal
$body-bg: #ffffff;       // Fondo blanco para la web
$text-muted: #6c757d;    // Gris para textos secundarios

// 2. Traemos toda la estructura de Bootstrap para que adopte estos colores
@import "../bootstrap/scss/bootstrap";
.card-img-top {
    height: 300px !important;    // Le agregamos el ¡important!
    object-fit: cover !important; // Le agregamos el ¡important!
}
// regla para boton salmon:
.btn-salmon {
    background-color: $primary !important;
    color: #000000 !important;
    border: 1px solid #000000 !important;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    padding: 0.375rem 0.75rem;
}
// Prueba final de Oliv para ver si el SASS obedece